.error-page {
    background-color: $light-beige;

    .footer {
        display: none;
    }
}

.error-page-layout {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    overflow: clip;
    position: relative;
}

.error-page-layout__content-wrapper {
    position: relative;
    max-width: 463px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1366px) {
        max-width: 308px;
    }
}

.error-page-layout__content {
    margin-bottom: 82px;

    @media screen and (max-width: 1366px) {
        margin-bottom: 50px;
    }

    @include tablet {
        margin-bottom: 63px;
    }

    @include mobile {
        margin-bottom: 60px;
    }
}

.error-page__title {
    &:not(:last-child) {
        margin-bottom: 22px;

        @media screen and (max-width: 1366px) {
            margin-bottom: 16px;
        }
    }
}

.error-page__link {
    --btn-color-hover: #{$dark};
    --btn-border-color-hover: #{$dark};
    --btn-border-color-active: #fff;
}

.error-ball-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 49.4%;
    max-width: 989px;
    pointer-events: none;

    @include tablet {
        width: 100%;
    }
}

.error-ball-2 {
    position: absolute;
    right: 80%;
    top: 25%;
    width: 12.71%;
    max-width: 244px;
    pointer-events: none;

    @include tablet {
        width: 167px;
    }

    @include mobile {
        width: 105px;
        top: 15%;
    }
}

.error-ball-3 {
    position: absolute;
    right: 60%;
    top: 47%;
    width: 198px;
    pointer-events: none;

    @include tablet {
        width: 137px;
    }

    @include mobile {
        width: 34%;
        top: auto;
        bottom: 20vw;
    }
}

.error-ball-4 {
    position: absolute;
    left: 60%;
    top: 25%;
    width: 198px;
    pointer-events: none;

    @include tablet {
        width: 137px;
    }

    @include mobile {
        left: 70%;
        top: 20%;
    }
}

.error-ball-5 {
    position: absolute;
    right: 0;
    transform: translate(30%, 0);
    top: 60%;
    width: 12.71%;
    max-width: 244px;
    pointer-events: none;

    @include tablet {
        width: 183px;
    }

    @include mobile {
        display: none;
    }
}
