.partner-case-popup__content {
    max-width: 443px;
}

.partner-case-popup__type {
    margin-bottom: 19px;
}

.partner-case-popup__name {
    margin-bottom: 50px;

    @media screen and (max-width: 1366px) {
        margin-bottom: 30px;
    }

    @include mobile {
        margin-bottom: 21px;
    }
}

.partner-case-popup__img {
    margin-top: 66px;

    @media screen and (max-width: 1366px) {
        margin-top: 94px;
    }

    @include vertical-tablet {
        margin-top: 124px;
    }

    @include mobile {
        margin-top: 54px;
    }
}
